main {
    section {
        .formularioContacto {
            padding: 4rem;
            gap: 30px;
            display:grid;
            grid-template-areas:
                                "nombre apellido"
                                "email telefono"
                                "consulta consulta"
                                "enviar enviar";
            .inputNombre {
                grid-area: nombre;
            }
            .inputApellidos {
                grid-area: apellidos;
            }
            .inputEmail {
                grid-area: email;
            }
            .inputTelefono {
                grid-area: telefono;
            }
            .textArea {
                grid-area: consulta;
            }
            .inputSubmit {
                grid-area: enviar;
            }
        }
    }
}